<%= link_to 'back', :back %>
<br>
<h1>Mostrar Datos del Autor</h1>

<h3>
<strong> Nombre: </strong> 
<%= @autor.nombre %>
</h3>

<h3>
<strong> Nacionalidad: </strong> 
<%= @autor.nacionalidad %>
</h3>

<h3>
<strong> Idioma: </strong> 
<%= @autor.idioma %>
</h3>