
<h1>Mostrar Datos del Usuario</h1>

<h3>
<strong> Nombre: </strong> 
<%= @usuario.nombre %>
</h3>

<h3>
<strong> Teléfono: </strong> 
<%= @usuario.telefono %>
</h3>

<h3>
<strong> Dirección: </strong> 
<%= @usuario.direccion %>
</h3>

<h3>
<strong> Observaciones: </strong> 
<%= @usuario.observaciones %>
</h3>