<h1> Lista de Categorías </h1>
<p>Estas son las Categorías de la BD.</p>

<table border="-1">
    <thead>
        <tr>
            <th> Categoria </th>
            <th> Descripción </th>
            <th> Acciones </th>

        </tr>
    </thead>
    <tbody>
        <% @categorias.each() do |category| %>
            <tr>
                <td> <%= category.categoria %> </td>
                <td> <%= category.descripcion %> </td>
                <td> <%= link_to "Mostrar", action: 'show', id: category.id %> </td>
            </tr>
        <%end%>
    </tbody>
</table>
