<h1> Lista de Editoriales </h1>
<p>Estos son los Editoriales de la BD.</p>

<table border="-1">
    <thead>
        <tr>
            <th> Nombre </th>
            <th> País </th>
            <th> Teléfono </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        <% @editoriales.each() do |editorial| %>
            <tr>
                <td> <%= editorial.nombre %> </td>
                <td> <%= editorial.pais %> </td>
                <td> <%= editorial.telefono %> </td>
                <td> <%= link_to "Mostrar", action: 'show', id: editorial.id %> </td>
            </tr>
        <%end%>
    </tbody>
</table>
