<h1>Mostrar Datos de la Editorial</h1>

<h3>
<strong> Nombre: </strong> 
<%= @editorial.nombre %>
</h3>

<h3>
<strong> Nacionalidad: </strong> 
<%= @editorial.pais %>
</h3>

<h3>
<strong> Idioma: </strong> 
<%= @editorial.telefono %>
</h3>